/* SIGN IN */

form .list-group .list-group-item.error {
    border-color: #d43f3a;
}
.login .navbar-brand img.logo {
    max-height: inherit;
    width: 300px;
}
#footer .logo {
    clear: both;
    margin-top: 20px;
    width: 100px;
}

/* BASIC RESETS */

/* No blue chrome outline */
button:focus {
    outline: none;
    box-shadow: none;
}